# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
target/

# System
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp

# Env
.env
.env.*
